<div class="jumbotron text-center">
<h1>About Us</h1>
<img src="https://www.pngkit.com/png/full/354-3545064_framed-art-print-french-city-clipart.png" height=400 width=700>
<p>At Photo Pins, our mission is to provide a platform for photographers of all levels to showcase their work, connect with other photography enthusiasts, and inspire creativity. We believe that every photograph tells a unique story and deserves to be shared.</p>
</div>