<div class="jumbotron text-center">
  <h1>Home</h1>
  <p>Welcome to Photo pins</p>
  <img src="https://media.istockphoto.com/id/545585228/vector/pictures-gallery.jpg?s=612x612&w=0&k=20&c=g5W6VxfvwIWQ7qTy0Mzi0xArS2XrxESqvEQa0KHOrvE=" height=400 width=700>
  <p>Discover and share amazing photos from around the world.</p>
</div>